flows.json
[{"id":"b1bc30d2.f824f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ebcf9c00.22871","type":"mqtt in","z":"b1bc30d2.f824f","name":"","topic":"loop/send/1","qos":"0","datatype":"utf8","broker":"a9e716fa.e85508","x":170,"y":140,"wires":[["f8f8c24e.2101b","9b1b6d0b.8c22e","d67ec79f.2baf18"]]},{"id":"9b1b6d0b.8c22e","type":"mqtt out","z":"b1bc30d2.f824f","name":"loop/get","topic":"loop/get","qos":"0","retain":"","broker":"a9e716fa.e85508","x":560,"y":240,"wires":[]},{"id":"f8f8c24e.2101b","type":"debug","z":"b1bc30d2.f824f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"35535dd7.7077a2","type":"mqtt out","z":"b1bc30d2.f824f","name":"send_turns","topic":"loop/turn","qos":"0","retain":"","broker":"a9e716fa.e85508","x":710,"y":460,"wires":[]},{"id":"df8a363a.550818","type":"debug","z":"b1bc30d2.f824f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"8b4e3843.8d5508","type":"mqtt in","z":"b1bc30d2.f824f","name":"","topic":"loop/send/2","qos":"0","datatype":"utf8","broker":"a9e716fa.e85508","x":170,"y":200,"wires":[["f8f8c24e.2101b","9b1b6d0b.8c22e","c66b644b.e815e8"]]},{"id":"696a325a.4eba0c","type":"mqtt in","z":"b1bc30d2.f824f","name":"","topic":"loop/send/3","qos":"0","datatype":"utf8","broker":"a9e716fa.e85508","x":170,"y":280,"wires":[["9b1b6d0b.8c22e","f8f8c24e.2101b","6598f568.616bbc"]]},{"id":"d67ec79f.2baf18","type":"change","z":"b1bc30d2.f824f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["df8a363a.550818","35535dd7.7077a2"]]},{"id":"c66b644b.e815e8","type":"change","z":"b1bc30d2.f824f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["35535dd7.7077a2","df8a363a.550818"]]},{"id":"6598f568.616bbc","type":"change","z":"b1bc30d2.f824f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":440,"wires":[["35535dd7.7077a2","df8a363a.550818"]]},{"id":"36e76a03.2d23f6","type":"mqtt in","z":"b1bc30d2.f824f","name":"","topic":"loop/turn","qos":"0","datatype":"utf8","broker":"a9e716fa.e85508","x":260,"y":540,"wires":[["b5b57549.01dcf8"]]},{"id":"b5b57549.01dcf8","type":"debug","z":"b1bc30d2.f824f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":540,"wires":[]},{"id":"a9e716fa.e85508","type":"mqtt-broker","z":"","name":"test_MQTT_server","broker":"localhost","port":"1883","clientid":"melody_test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]